.register {
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;
    padding: 20px;
}

.register > form {
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    margin: 5px;
}