.tasks-container {
    display: flex;
    justify-content: space-between;
}

.add-tasks {
    margin-right: 20%;
}

.add-tasks > form {
    display: flex;
    flex-direction: column;
}

.tasks-list {
    margin-left: 30%;
}